<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Outbid</title>
</head>
<body bgcolor="#FFFFFF" text="#111111">
    <table id="header" style="width: 100%;" align="center" cellspacing="10">
        <tr>
            <td colspan="2">
                Greetings,
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <font color="#999999"><small><small>
                    Can't read this email? Visit <a href="http://www.TeachArt.org/" style="color:#111111; text-decoration:none;">our portal</a>.
                </small></small></font>
            </td>
        </tr>
        <tr>
            <td>
                <!-- Logo placeholder -->
            </td>
            <td>
                <h4>You have been outbid by <%= outbid.amount %>!</h4>
            </td>
        </tr>
    </table><!-- Header table -->

    <table id="updates" style="width: 100%;table-layout: fixed;" align="center" cellspacing="10">
        <tr>
            <td colspan="2">Do you want to update your bid?</td>
            <td></td>
        </tr>
        <tr>
            <td><a style="color:#111111; text-decoration:none;" href="<%= outbid.bidLink1 %>"><%= outbid.bidAmount1 %></a></td>
            <td><a style="color:#111111; text-decoration:none;" href="<%= outbid.bidLink2 %>"><%= outbid.bidAmount2 %></a></td>
            <td><a style="color:#111111; text-decoration:none;" href="<%= outbid.bidLink3 %>"><%= outbid.bidAmount3 %></a></td>
        </tr>
        <tr>
            <td colspan="2">Or other <a style="color:#111111; text-decoration:none;" href="<%= outbid.bidLinkFree %>">amount</a></td>
            <td></td>
        </tr>
    </table><!-- updates table -->

    <table id="item" style="width: 100%;table-layout: fixed;" align="center" cellspacing="10">
        <tr>
            <td>Artist: <%= outbid.artist %></td>
            <td></td>
            <td>Item: <a style="color:#111111; text-decoration:none;" href="<%= outbid.itemLink %>"><%= outbid.itemId %></a></td>
        </tr>
        <tr>
            <td>Current winning bid: <%= outbid.winning %></td>
        </tr>
        <tr>
            <td><img src="cid:<%= outbid.itemCid %>" height="300" width="300"/>
        </td>
        <tr>
            <td colspan="2">The auction ends in: <%= outbid.endTime %></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"><p>
            Proceeds are split three ways:  1/3 to the school's Art Department, 1/3 to the Havenly Blue Foundation, and 1/3 to the participating student.<br/>
            You can also make a donation directly to the Havenly Blue Foundation or Los Alamitos High School Visual Arts Program by clicking <a href="http://www.teachart.org/donate">here</a>.
            </td>
        </tr>
    </table><!-- item table -->


    <table id="footer" style="width: 100%;" align="center" cellspacing="10">
        <tr id="footer">
            <td>

                    <br/><a href="http://www.TeachArt.org" alt="Localism" style="color:#111111; text-decoration:none;">TeachArt.org</a>

            </td>
        </tr>
        <tr>
            <td colspan="2">

                    <font color="#999999">
                        <small>To stop receiving emails click <a href="http://www.teachart.org/unsubscribe">here</a>.  If you need help don't hesitate to 
                        <a href="mailto:havenly@localism.zendesk.com">email us</a>!<small>
                        <!--To unsubscribe, click here.-->
                        <br />  Community Auction™ | <a style="color:#111111; text-decoration:none;" href="http://localism.co">A Localism Project</a> | &copy;2014 All rights reserved.
                        </small></small>
                    </font>

            </td>
        </tr>
    </table><!-- Footer table -->
</body>
</body>
</html>